<app-title [title]="titulo"></app-title>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Data Nascimento</th>
            <th>Sexo</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Contratado</th>
        </tr>
    </thead>
    <tbody *ngIf="professores && professores.length">
        <tr *ngFor="let professor of professores">
            <td>{{ professor.nome }}</td>
            <td>{{ professor.dataNascimento }}</td>
            <td>{{ professor.sexo }}</td>
            <td>{{ professor.email }}</td>
            <td>{{ professor.cpf }}</td>
            <td>{{ professor.contratado }}</td>
        </tr>
    </tbody>
    <tfoot *ngIf="!professores.length">
        <tr>
            <td colspan="7" class="text-center">
                <h4>Nenhum professor encontrado</h4>
            </td>
        </tr>
    </tfoot>
</table>
<div class="container" >
    <button type="button" class="btn btn-primary" routerLinkActive="active">
        <a routerLink="/cadastrar-aluno">Cadastrar professor</a>
    </button>
</div>